# File: .github/workflows/ci.yml

name: CI Pipeline

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
  workflow_dispatch: {}

jobs:
  lint_and_test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies (ShellCheck, Bats)
      run: |
        sudo apt-get update
        sudo apt-get install -y shellcheck bats

    - name: Run Linting and Functional Tests
      run: make test
